*{
    margin: 0px;
    padding: 0px;

}

.pocetna{

    background-color: black;
    display: flex;
    height: 150px;
    justify-content: space-between;
}

.slika{
    width: 50%;
}

.slika img{
    width: 80%;
}

.podela{
    width: 50%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.podela ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.podela a.active{
    color: red;
}

.podela a{
    text-decoration: none;
    font-size: 30px;
    color: white;
    transition-duration: 0.6s;
}

.podela li{
    padding: 60px 25px;
}

.podela a:hover{
    color: red;
    transform: scale(120%);
    cursor: pointer;
    font-size: 40px;
    transition-duration: 0.6s;
}

.velika_slika{
    background-image: url("../Slike/hg-15-02881_tml9720_2578.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sadrzaj{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sadrzaj h1{
    font-size: 60px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.sadrzaj p{
    width: 50%;
    font-size: 38px;
    padding-top: 20px;
    color: white;
}

.sadrzaj a:hover{
    transition-duration: 0.6s;
    transform: scale(120%);
    background-color: rgb(150, 40, 0);
    color: rgb(150, 150, 150);
}

.sadrzaj a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    background-color: orangered;
    transition-duration: 0.6s;
    margin-top: 50px;
    padding: 15px;
    
}

.dobrodoslica{
    background-color: rgb(42, 59, 35);
}

.naslov{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 28px;
    color: white;
    font-family: 'Courier New', Courier, monospace ;
}

.tankfestnaslov{
    text-align: center;
    height: 80px;
    width: 100%;
    padding-top: 60px;
    font-size: 30px;
    color: black;
    background-color: rgba(25, 73, 32, 0.5);
    font-family: 'Courier New', Courier, monospace;
}

.tankfest{
    background-color: rgba(25, 73, 32, 0.5);
    display: flex;
    color: black;
}

.tankfestopis{
    width: 50%;
    padding: 30px;
    margin: 20px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tankfestopis p{
    margin: 50px;
    margin-left: 20px;

}

.tankfestvreme{
    width: 50%;
    background-color: rgba(25, 73, 32, 0.5);
    padding: 40px;
    margin: 40px;   
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tankfestvreme li{
    padding: 15px;
}

.tankfestvreme p{
    margin-top: 60px;
}

.tankfestslike{
    display: flex;
    justify-content: space-between;
    background-color: rgba(25, 73, 32, 0.5);
}

.tankfest2026{
    transition-duration: 0.6s;
    margin-right: 20px;
}

.tankfest2026:hover{
    transition-duration: 0.6s;
    transform: scale(105%);
}

.tankfest2026 img{
    height: 85%;
    width: 85%;
    background-color: rgb(42, 59, 35);
    border: 18px solid rgb(0, 0, 0, 0.5);
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
}

.rezervacija{
    background-color: rgba(25, 73, 32, 0.5);
    text-align: center;
    padding: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dugme a:hover{
    transition-duration: 0.6s;
    color: rgb(150, 150, 150);
    background-color: rgb(179, 48, 0);
}

.dugme a{
    color: white;
    text-decoration: none;
    background-color: orangered;
    padding: 20px;
    border-radius: 10px;
    transition-duration: 0.6s;
}

.kraj_slika{
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.autor{
    background-color: rgb(42, 59, 35);
    display: flex;
    height: 581px;
    padding-top: 50px;
}

.indeks{
    color: white;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.opis{
    width: 1000px;
    padding-top: 50px;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.kraj{
    background-color: black;
    display: flex;
    justify-content: center;
}

.linkovi{
    color: white;
    padding-left: 300px;
    padding-top: 26px;
    padding-bottom: 30px;
}

.linkovi h3{
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 30px;
    padding-top: 3px;
}

.linkovi i:hover{
    transform: scale(120%);
    cursor: pointer;
    transition-duration: 0.6s;
}

.linkovi i{
    transition-duration: 0.6s;
    font-size: 50px;
    padding-top: 10px;
}

.linkovi a{
    color: white;
    margin-right: 80px;
}

.linkovi_od_naslova{
    color: white;
    padding-left: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.linkovi_od_naslova a{
    color: white;
    text-decoration: none;
}

.linkovi_od_naslova a:hover{
    color: red;
    text-decoration: none;
}

.linkovi_od_naslova li{
    transition-duration: 0.6s;
    font-size: 18px;
}

.linkovi_od_naslova li:hover{
    transform: translateX(15px);
    transition-duration: 0.6s;
}


.linkovi_od_naslova ul{
    list-style-type: none;
}

.linkovi_kraj{
    margin-bottom: 30px;
    padding-top: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.slike_galerija{
    background-color: rgb(42, 59, 35);
    height: 1000px;
    padding: 30px;
}

.pozadina_slike{
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    padding: 30px;
}

.pozadina_slike img:hover{
    transform: scale(1.1);
    transition-duration: 0.6s;
    box-shadow: 8px 8px 5px rgb(100, 97, 97);
}

.pozadina_slike img{
    width: 400px;
    height: 250px;
    transition-duration: 0.6s;
    border-radius: 15px;
}
@keyframes fade-down{
    from{
        opacity: 0;
        transform: translateY(-70px); 
    }
    to{
        opacity: 1;
        transform: translateY(0); 
    }
}
.pozadina_slike{
    animation: fade-down 1s ease-out;
}

.kontakt_pozadina{
    background-color: rgb(42, 59, 35);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kontakt_text{
    color: white;
    margin-top: 50px;
    font-size: 20px;
    margin-left: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.kontakt_text h1{
    font-family: 'Courier New', Courier, monospace;
}

.kontakt_text form{
    background-color: rgba(25, 73, 32, 0.5);
    padding: 30px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    margin-bottom: 40px;
}

.kontakt_text form h2{
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.kontakt_text form input{
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
}

/*.kontakt_slika{
    margin-left: 200px;
}*/

.submit{
    background-color: orangered;
    color: white;
    width: 100%;
    font-size: 16px;
    border-radius: 10px;
    padding: 5px;
    transition-duration: 0.6s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.submit:hover{
    transition-duration: 0.6s;
    background-color: rgb(179, 48, 0);
    color: rgb(150, 150, 150);
}

.kontakt_mapa_info{
    background-color:rgb(42, 59, 35);
}

.mapa iframe{
    width: 100%;
    height: 400px;
    border: 0px;
}

.kolekcija_pozadina{
    background-color: rgb(42, 59, 35);
}

.model1{
    background-color: rgba(0,0,0,0.5);
    color: white;
    display: flex;
    justify-content: space-around;
    border: 30px solid rgb(42, 59, 35);
}

.model1 p{
    margin: 1px;
}

.model1 img{
    width: 500px;
    height: 250px;
    margin: 20px 0px;
    border-radius: 7px;
    transition-duration: 0.6s;
}

.model1 img:hover{
    transition-duration: 0.6s;
    transform: scale(108%);
}

.naslov1{
    display: flex;
    flex-direction: column;
    width: 65%;
    padding-top: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.naslov1 h1{
    text-align: center;
}

.naslov1 p{
    font-size: 20px;
}

.opistenka1{
    display: flex;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.model2{
    background-color: rgba(25, 73, 32, 0.5);
    color: white;
    display: flex;
    justify-content: space-around;
    border: 30px solid rgb(42, 59, 35);
    flex-direction: row-reverse;
}

.model2 img{
    width: 500px;
    height: 250px;
    margin: 20px 0px;
    border-radius: 7px;
    transition-duration: 0.6s;
}

.model2 img:hover{
    transition-duration: 0.6s;
    transform: scale(108%);
}

.naslov2{
    display: flex;
    flex-direction: column;
    width: 65%;
    padding-top: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.naslov2 h1{
    text-align: center;
}

.naslov2 p{
    font-size: 20px;
}

.opistenka2{
    display: flex;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}